body {
background-color: #FFE4C4; 
}

.header {
    padding: 60px;
    text-align: center;
    background: #4b99bd;
    color: rgb(7, 1, 1);
    font-size: 30px;
  }

  .column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }