body{
    background-color: #F7E3D4;
}

.card {
    width: 50%;
    background-color: #FC7307;
    box-shadow: 5px 10px #888888;
    font-family:'Courier New', Courier, monospace;
}

form {
    display: flex;
    align-self: center;
}


.box {
    /* background-color:#236AB9; */
    width: 500px;
    height: 500px;
    border: #236AB9;
}


@media only screen and (max-width: 840px) {
    body{
        background-color: #1461B8;
    }
}


@media screen and (max-width: 840px) {
    h1 {
        color: #FC7307;
    }
}